<!DOCTYPE html>
<html>
<head>
<style>
    body {
        margin: 0 auto;
        max-width: 800px;
        padding: 0 20px;
    }

    .container {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
    }

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .container::after {
        content: "";
        clear: both;
        display: table;
    }

    .container img {
        float: left;
        max-width: 60px;
        width: 100%;
        margin-right: 20px;
        border-radius: 50%;
    }

    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right:0;
    }

    .time-right {
        float: right;
        color: #aaa;
    }

    .time-left {
        float: left;
        color: #999;
    }

    .browser {
        background: white;
    }

    .browser > h2, p {
        margin: 4px;
        font-size: 90%;
    }

    footer {
        text-align: center;
        padding: 3px;
        background-color: teal;
        color: white;
    }
    div.ex3 {
        background-color:white;
        width: 790px;
        height: 310px;
        overflow: auto;
    }
</style>
</head>
<body>
<h1 style="text-align: center; font-family: 'Georgia'">Private Message: <%= User.find(@private_message.user_id).fullname %></h1>

<div class="row">
  <div class="ex3">
    <% @private_messages_sent.each do |p_message| %>
      <% if p_message.sender_id == current_user.id %>
        <div class="container">
          <p style="text-align: right"> <%= current_user.fullname %></p>
          <p style="text-align: right"><%= p_message.directmessage %></p>
          <span class="time-right"><%= p_message.created_at %></span>
        </div>
      <%else %>
        <div class="container darker">
          <%= User.find(p_message.sender_id).fullname %>
          <p><%= p_message.directmessage %></p>
          <span class="time-left"><%=p_message.created_at %></span>
        </div>
      <%end %>
    <% end %>
  </div>
</div>
<%= form_with(model: @private_message) do |form| %>
  <% if @private_message.errors.any? %>
    <div style="color: red" id="error_explanation">
      <h2><%= pluralize(@private_message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% @private_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :recipient_id, :value => @private_message.user_id %>
  </div>

  <div class="field">
    <%= form.label :Message %>
    <%= form.text_field :directmessage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</body>
</html>