
<!DOCTYPE html>
<style>
    .foot {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: teal;
        color: white;
        text-align: center;
    }


</style>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag    'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body >


    <%= render partial: 'Shared/navigation_bar' %>

   <% flash.each do |key, value| %>
     <%= content_tag :div, value, id: "#{key}" %>
   <% end %>

   <%= yield %>

   <div class = "foot">
     <h5>This is a ruby on rails chat app</h5>
     <p>Created by Geerthika Senthil</p>
   </div>

  </body>
</html>
